.ourjourney_main_container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 300px;
  margin-top: 50px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.ourjourney_title p {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: 0.05em;
  color: var(--TopBar-Light-Green);
  margin: 0 auto;
}

.ourjourney_title h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  color: var(--black);
  margin: 0 auto;
}

.ourjourney_timeline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}

.ourjourney_timeline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--TopBar-Dark-Green);
  top: 50%;
  left: 0;
  z-index: 1;
}

.ourjourney_timeline_item_1,
.ourjourney_timeline_item_2,
.ourjourney_timeline_item_3,
.ourjourney_timeline_item_4,
.ourjourney_timeline_item_5,
.ourjourney_timeline_item_6,
.ourjourney_timeline_item_7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  width: 151px;
}

.ourjourney_timeline_item_1 h6,
.ourjourney_timeline_item_3 h6,
.ourjourney_timeline_item_5 h6,
.ourjourney_timeline_item_7 h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: var(--TopBar-Dark-Green);
  position: absolute;
  margin-top: 80px;
}

.ourjourney_timeline_item_2 h6,
.ourjourney_timeline_item_4 h6,
.ourjourney_timeline_item_6 h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: var(--TopBar-Dark-Green);
  position: absolute;
  margin-top: 35px;
}

.ourjourney_timeline_item_1_point img,
.ourjourney_timeline_item_3_point img,
.ourjourney_timeline_item_5_point img,
.ourjourney_timeline_item_7_point img {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 3;
  top: 117px;
}

.ourjourney_timeline_item_2_point img,
.ourjourney_timeline_item_4_point img,
.ourjourney_timeline_item_6_point img {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 3;
}

.ourjourney_timeline_item_1_content,
.ourjourney_timeline_item_2_content,
.ourjourney_timeline_item_3_content,
.ourjourney_timeline_item_4_content,
.ourjourney_timeline_item_5_content,
.ourjourney_timeline_item_6_content,
.ourjourney_timeline_item_7_content {
  text-align: center;
}

.ourjourney_timeline_item_1_content_vertical_line img,
.ourjourney_timeline_item_3_content_vertical_line img,
.ourjourney_timeline_item_5_content_vertical_line img,
.ourjourney_timeline_item_7_content_vertical_line img {
  display: block;
  margin: 0 auto;
  margin-top: 110px;
}

.ourjourney_timeline_item_2_content_vertical_line img,
.ourjourney_timeline_item_4_content_vertical_line img,
.ourjourney_timeline_item_6_content_vertical_line img {
  display: block;
  margin: 0 auto;
}

.ourjourney_timeline_item_1_content p,
.ourjourney_timeline_item_3_content p,
.ourjourney_timeline_item_5_content p,
.ourjourney_timeline_item_7_content p {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.ourjourney_timeline_item_2_content p,
.ourjourney_timeline_item_4_content p,
.ourjourney_timeline_item_6_content p {
  margin-top: -110px;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 913px) {
  .ourjourney_timeline_item_2_content p,
  .ourjourney_timeline_item_6_content p {
    margin-top: -130px;
    font-size: 16px;
    line-height: 1.5;
  }

  .ourjourney_timeline_item_5_point img {
    top: 130px;
  }

  .ourjourney_timeline_item_5_content p {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .ourjourney_timline_resposnsive {
    display: flex;
  }
  .ourjourney_timeline {
    flex-direction: column;
    justify-content: flex-start;
  }

  .ourjourney_timeline_item_1,
  .ourjourney_timeline_item_3,
  .ourjourney_timeline_item_5,
  .ourjourney_timeline_item_7 {
    align-items: flex-start;
  }

  .ourjourney_timeline_item_2,
  .ourjourney_timeline_item_4,
  .ourjourney_timeline_item_6 {
    align-items: flex-end;
  }

  .ourjourney_timeline_item_1 h6,
  .ourjourney_timeline_item_3 h6,
  .ourjourney_timeline_item_5 h6,
  .ourjourney_timeline_item_7 h6 {
    position: static;
    margin: 0;
    margin-bottom: 10px;
  }

  .ourjourney_timeline_item_2 h6,
  .ourjourney_timeline_item_4 h6,
  .ourjourney_timeline_item_6 h6 {
    position: static;
    margin: 0;
    margin-top: 10px;
  }

  .ourjourney_timeline_item_1_content,
  .ourjourney_timeline_item_3_content,
  .ourjourney_timeline_item_5_content,
  .ourjourney_timeline_item_7_content {
    margin-left: 20px;
  }

  .ourjourney_timeline_item_2_content,
  .ourjourney_timeline_item_4_content,
  .ourjourney_timeline_item_6_content {
    margin-right: 20px;
    text-align: right;
  }

  .ourjourney_timeline::before {
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
  }

  .ourjourney_timeline_item_1_content_vertical_line img,
  .ourjourney_timeline_item_3_content_vertical_line img,
  .ourjourney_timeline_item_5_content_vertical_line img,
  .ourjourney_timeline_item_7_content_vertical_line img,
  .ourjourney_timeline_item_2_content_vertical_line img,
  .ourjourney_timeline_item_4_content_vertical_line img,
  .ourjourney_timeline_item_6_content_vertical_line img {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .ourjourney_timeline {
    flex-direction: column;
    justify-content: flex-start;
  }

  .ourjourney_timeline_item_1,
  .ourjourney_timeline_item_3,
  .ourjourney_timeline_item_5,
  .ourjourney_timeline_item_7 {
    align-items: flex-start;
  }

  .ourjourney_timeline_item_2,
  .ourjourney_timeline_item_4,
  .ourjourney_timeline_item_6 {
    align-items: flex-end;
  }

  .ourjourney_timeline_item_1 h6,
  .ourjourney_timeline_item_3 h6,
  .ourjourney_timeline_item_5 h6,
  .ourjourney_timeline_item_7 h6 {
    position: static;
    margin: 0;
    margin-bottom: 10px;
  }

  .ourjourney_timeline_item_2 h6,
  .ourjourney_timeline_item_4 h6,
  .ourjourney_timeline_item_6 h6 {
    position: static;
    margin: 0;
    margin-top: 10px;
  }

  .ourjourney_timeline_item_1_content,
  .ourjourney_timeline_item_3_content,
  .ourjourney_timeline_item_5_content,
  .ourjourney_timeline_item_7_content {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .ourjourney_timeline_item_2_content,
  .ourjourney_timeline_item_4_content,
  .ourjourney_timeline_item_6_content {
    margin-right: 20px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ourjourney_timeline::before {
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
  }

  .ourjourney_timeline_item_1_content_vertical_line img,
  .ourjourney_timeline_item_3_content_vertical_line img,
  .ourjourney_timeline_item_5_content_vertical_line img,
  .ourjourney_timeline_item_7_content_vertical_line img,
  .ourjourney_timeline_item_2_content_vertical_line img,
  .ourjourney_timeline_item_4_content_vertical_line img,
  .ourjourney_timeline_item_6_content_vertical_line img {
    transform: rotate(90deg);
    margin: 0 10px;
  }

  .ourjourney_timeline_item_1_content p,
  .ourjourney_timeline_item_3_content p,
  .ourjourney_timeline_item_5_content p,
  .ourjourney_timeline_item_7_content p,
  .ourjourney_timeline_item_2_content p,
  .ourjourney_timeline_item_4_content p,
  .ourjourney_timeline_item_6_content p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .ourjourney_timeline::before {
    width: 2px;
    height: 350%;
    left: 50%;
    top: 0;
  }

  .ourjourney_timeline_item_1_content p,
  .ourjourney_timeline_item_3_content p,
  .ourjourney_timeline_item_5_content p,
  .ourjourney_timeline_item_7_content p {
    margin-right: 20px;
    text-align: right;
  }

  .ourjourney_timeline_item_2_content p,
  .ourjourney_timeline_item_4_content p,
  .ourjourney_timeline_item_6_content p {
    margin-left: 20px;
    text-align: left;
  }

  .ourjourney_timeline_item_1_content,
  .ourjourney_timeline_item_3_content,
  .ourjourney_timeline_item_5_content,
  .ourjourney_timeline_item_7_content {
    margin-left: 20px;
  }

  .ourjourney_timeline_item_2_content,
  .ourjourney_timeline_item_4_content,
  .ourjourney_timeline_item_6_content {
    margin-right: 20px;
  }
}
