.timeline-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.timeline-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6ab04c;
  transform: translateY(-50%);
  z-index: -1;
}

.timeline-item {
  flex: 1;
  text-align: center;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item.top .timeline-year {
  order: 1;
}

.timeline-item.top .timeline-description {
  order: 2;
}

.timeline-item.bottom .timeline-year {
  order: 3;
}

.timeline-item.bottom .timeline-description {
  order: 1;
}

.timeline-year {
  font-size: 1.5rem;
  color: #6ab04c;
  margin-bottom: 10px;
  font-weight: bold;
}

.timeline-description {
  font-size: 1rem;
  color: #666;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #6ab04c;
}

@media (max-width: 768px) {
  .timeline {
    flex-direction: column;
  }

  .timeline-item {
    padding: 10px 0;
    flex-direction: row;
    align-items: flex-start;
  }

  .timeline-item.top .timeline-year,
  .timeline-item.bottom .timeline-year {
    align-self: flex-start;
  }

  .timeline-description {
    margin-top: 5px;
  }

  .timeline-item::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline::before {
    height: 100%;
    width: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
