.topbar {
    max-width: 100%;
    width: 1440px;
    /* height: 40px; */
    height: auto;
    gap: 0px;
    opacity: 0px;
    background-color: var(--TopBar-Dark-Green);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .topbar-left {
    background-color: var(--TopBar-Light-Green);
    width: 408px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
  }
  .topbar-left-social {
    display: flex;
    flex-direction: row;
    width: 188px;
    height: 24px;
    top: 8px;
    left: 140px;
    gap: 17px;
    opacity: 0px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    vertical-align: middle;
  }
  .facebook_icon,
  .twitter_icon,
  .google_icon,
  .instagram_icon,
  .youtube_icon {
    width: 24px;
    height: 24px;
    margin-top: 22px;
  }
  .facebook_icon img {
    width: 9px;
    height: 16.36px;
    top: 3.82px;
    left: 8px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    cursor: pointer;
    /* border: 1px solid var(--white); */
  }
  .twitter_icon img {
    width: 16px;
    height: 13.05px;
    top: 5.44px;
    left: 4px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    cursor: pointer;
  
    /* border: 1px solid var(--white); */
  }
  .google_icon img {
    width: 24.08px;
    height: 14px;
    top: 5px;
    left: -0.08px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
    /* border: 1px solid var(--white); */
  }
  .instagram_icon img {
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
  }
  .youtube_icon img {
    width: 20px;
    height: 14.05px;
    top: 4.7px;
    left: 2px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    cursor: pointer;
  }
  
  /* RIGHT SIDE SECTION ON TOPBAR */
  
  .topbar-right {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 90px;
    gap: 50px;
  }
  
  .topbar-right-call {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 162px;
    height: 24px;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
  }
  .topbar-right-call-icon {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  .topbar-right-call-icon img {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .topbar-right-call-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.6px;
    color: var(--white);
  }
  .topbar-right-mail {
    display: flex;
    flex-direction: row;
    gap: 12px;
    /* width: 162px;
      height: 24px; */
    float: right;
    align-items: center;
    /* margin-top: 10px; */
  }
  .topbar-right-mail-icon {
    /* width: 24px;
      height: 24px; */
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  .topbar-right-mail-icon img {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .topbar-right-mail-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.6px;
    color: var(--white);
  }
  
  /* NAVBAR CSS IS STARING  */
  
  .navbar {
    max-width: 100%;
    width: 1160px;
    height: 75px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: antiquewhite; */
  }
  
  .navbar-left {
    align-items: center;
    /* margin: 0 auto; */
  }
  .navbar-left img {
    width: 150px;
    height: 68px;
  }
  .navbar-right {
    width: 675px;
    height: 53px;
    gap: 50px;
  }
  
  .navbar-right ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    justify-content: space-between;
  }
  
  .navbar-right ul li {
    list-style: none;
    cursor: pointer;
  }
  
  .home_section {
    position: relative;
  }
  
  .home_section::before {
    position: absolute;
    content: url(../../../assets/icons/home_chess.svg);
    top: -8px;
    left: -25px;
  }
  
  .about_section {
    position: relative;
  }
  .about_section:after {
    position: absolute;
    content: url(../../../assets/icons/Vector.svg);
    top: -1px;
    left: 50px;
  }
  .services_section {
    position: relative;
  }
  .services_section::after {
    position: absolute;
    content: url(../../../assets/icons/Vector.svg);
    top: -1px;
    left: 67px;
  }
  .contactus_btn {
    border: none;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: -15px;
    /* width: 159px;
      height: 53px; */
    border-radius: 6px;
    padding: 15px 30px 15px 30px;
    background-color: var(--TopBar-Light-Green);
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    cursor: pointer;
  }
  @media (max-width: 1024px) {
    .navbar-right ul {
      display: none;
    }
    .topbar-right {
      font-size: 14px;
      padding: 1px;
    }
  }
  @media (max-width: 768px) {
    .topbar {
      display: none;
    }
    .navbar-left {
      margin-left: 20px;
    }
    .navbar-right ul {
      background-color: blue;
      height: 100px;
      width: 100px;
      margin-top: 50px;
      position: absolute;
    }
  }
  
  /* ================================================================================== */
  