
* {
  box-sizing: border-box;
}

.footer_section_main_container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: var(--footer-bg);
  color: var(--white);
  padding: 30px 60px;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section_header {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 16px 0;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer-section ul li:hover {
  color: var(--TopBar-Light-Green);
}

.footer-section_icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.footer-section_icons_box1,
.footer-section_icons_box2,
.footer-section_icons_box3,
.footer-section_icons_box4 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--white);
  position: relative;
  cursor: pointer;
}

.footer-section_icons_box1:hover,
.footer-section_icons_box2:hover,
.footer-section_icons_box3:hover,
.footer-section_icons_box4:hover {
  background-color: var(--TopBar-Light-Green);
}

.footer-section_icons_box1 img {
  position: absolute;
  top: 25%;
  left: 35%;
}
.footer-section_icons_box2 img {
  position: absolute;
  top: 32%;
  left: 32%;
}
.footer-section_icons_box3 img {
  position: absolute;
  top: 25%;
  left: 25%;
}
.footer-section_icons_box4 img {
  position: absolute;
  top: 30%;
  left: 22%;
}
.footer_logo {
  margin-top: 20px;
  width: 184.65px;
  height: 80px;
  cursor: pointer;
}

.footer-section_header_ul_li_main span {
  margin-left: 10px;
}
.footer-section_header_ul_li span {
  margin-left: 10px;
}

.footer_section1_content_location img {
  margin: auto;
  margin-top: 0px;
}
.footer_section1_content_location span {
  margin-left: 20px;
}

.footer_section1_content_calling img {
  margin-top: 0px;
}
.footer_section1_content_calling span {
  margin-left: 20px;
}

.footer_copyright_section {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.footer_copyright_section {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  background: var(--footer-bg);
  color: var(--white);
  padding: 30px 60px;
  margin-top: -25px;
  margin: 0 auto;
}
.footer_section_horizonatalline {
  color: var(--white);
  width: 100%;
  margin-left: 0px;
}
.footer_secion_copyright_content {
  margin-top: 25px;
}

/* ============================================Add MEDIA query=========================== */
@media (max-width: 999px) {
  .footer_section_main_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .footer-section {
    padding: 0px 20px 0px 50px;
  }
}

@media (max-width: 768px) {
  .footer_section_main_container {
    display: grid;
    justify-content: center;
    gap: 10px;
  }
  .footer_secion_copyright_content {
    display: flex;
    flex-direction: column;
  }
  .footer-section {
    margin-left: -25px;
  }
}

@media (max-width: 640px) {
  .footer_section_main_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-section {
    margin-left: -50px;
  }
}


