.megamenu_main_container {
  width: 100%;

  max-width: 1440px;

  margin: 0 auto;
  margin-left: -100px;
  position: relative;
  background-color: aquamarine;
}

.megamenu_main_layout {
  width: 100%;

  max-width: 1307px;

  height: 767.17px;

  margin: 0 auto;

  justify-content: center;

  display: flex;

  flex-direction: column;
}

.megamenu_layout_upper_section {
  width: 1227px;

  height: auto;

  gap: 48px;

  margin: 0 auto;

  display: flex;

  justify-content: space-around;
}

.megamenu_layout_upper_section_1_title {
  width: 377px;

  gap: 12px;

  display: flex;

  margin: 0 auto;
}

.megamenu_layout_upper_section_1_title_img img {
  width: 28px;

  height: 28px;

  gap: 0px;

  opacity: 0px;
}

.megamenu_layout_upper_section_1_title p {
  font-size: 16px;

  font-weight: 600;

  line-height: 18.75px;

  text-align: left;

  color: var(--TopBar-Light-Green);

  margin: 3px 0;

  cursor: pointer;
}

.megamenu_layout_upper_section_1_menu ul {
  gap: 10px;

  border-radius: 8px;

  line-height: 2;

  color: var(--gray);

  cursor: pointer;
}

.megamenu_layout_upper_section_2_title {
  gap: 12px;

  width: 377px;

  display: flex;

  margin: 0 auto;
}

.megamenu_layout_upper_section_2_title_img img {
  width: 28px;

  height: 28px;

  gap: 0px;

  opacity: 0px;
}

.megamenu_layout_upper_section_2_title p {
  font-size: 16px;

  font-weight: 600;

  line-height: 18.75px;

  text-align: left;

  color: var(--TopBar-Light-Green);

  margin: 3px 0;

  cursor: pointer;
}

.megamenu_layout_upper_section_2_menu ul {
  gap: 10px;

  border-radius: 8px;

  line-height: 2;

  color: var(--gray);

  cursor: pointer;
}

.megamenu_layout_upper_section_3_title {
  gap: 12px;

  width: 377px;

  display: flex;

  margin: 0 auto;
}

.megamenu_layout_upper_section_3_title_img img {
  width: 28px;

  height: 28px;

  gap: 0px;

  opacity: 0px;
}

.megamenu_layout_upper_section_3_title p {
  font-size: 16px;

  font-weight: 600;

  line-height: 18.75px;

  text-align: left;

  color: var(--TopBar-Light-Green);

  margin: 3px 0;

  cursor: pointer;
}

.megamenu_layout_upper_section_3_menu ul {
  gap: 10px;

  border-radius: 8px;

  line-height: 2;

  color: var(--gray);

  cursor: pointer;
}

.megamenu_layout_lower_section {
  width: 1227px;

  height: auto;

  gap: 48px;

  margin: 0 auto;

  display: flex;

  justify-content: space-around;
}

.megamenu_layout_lower_section_1_title {
  gap: 12px;

  width: 377px;

  display: flex;

  margin: 0 auto;
}

.megamenu_layout_lower_section_1_title_img img {
  width: 28px;

  height: 28px;

  gap: 0px;

  opacity: 0px;
}

.megamenu_layout_lower_section_1_title p {
  font-size: 16px;

  font-weight: 600;

  line-height: 18.75px;

  text-align: left;

  color: var(--TopBar-Light-Green);

  margin: 3px 0;

  cursor: pointer;
}

.megamenu_layout_lower_section_1_menu ul {
  gap: 10px;

  border-radius: 8px;

  line-height: 2;

  color: var(--gray);

  cursor: pointer;
}

.megamenu_layout_lower_section_2_title {
  gap: 12px;

  width: 377px;

  display: flex;

  margin: 0 auto;
}

.megamenu_layout_lower_section_2_title_img img {
  width: 28px;

  height: 28px;

  gap: 0px;

  opacity: 0px;
}

.megamenu_layout_lower_section_2_title p {
  font-size: 16px;

  font-weight: 600;

  line-height: 18.75px;

  text-align: left;

  color: var(--TopBar-Light-Green);

  margin: 3px 0;

  cursor: pointer;
}

.megamenu_layout_lower_section_2_menu ul {
  gap: 10px;

  border-radius: 8px;

  line-height: 2;

  color: var(--gray);

  cursor: pointer;
}

.megamenu_layout_lower_section_3_title {
  gap: 12px;

  display: flex;

  width: 377px;

  margin: 0 auto;
}

.megamenu_layout_lower_section_3_title_img img {
  width: 28px;

  height: 28px;

  gap: 0px;

  opacity: 0px;
}

.megamenu_layout_lower_section_3_title p {
  font-size: 16px;

  font-weight: 600;

  line-height: 18.75px;

  text-align: left;

  color: var(--TopBar-Light-Green);

  margin: 3px 0;

  cursor: pointer;
}

.megamenu_layout_lower_section_3_menu ul {
  gap: 10px;

  border-radius: 8px;

  line-height: 2;

  color: var(--gray);

  cursor: pointer;
}
